<p id="notice"><%= notice %></p>

<h3><%= singular_or_plural(@mining_types, @mining_types.size) %></h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= attr_name(@mining_types, :description) %></th>
      <th><%= attr_name(@mining_types, :acronym) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td><%= mining_type.description %></td>
        <td><%= mining_type.acronym %></td>
        <td><%= link_to t('links.show'), mining_type %></td>
        <td><%= link_to t('links.edit'), edit_mining_type_path(mining_type) %></td>
        <td><%= link_to t('links.destroy'), mining_type, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new', model_name: singular_or_plural(@mining_types)), new_mining_type_path, class: "btn btn-primary" %>
